* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  scroll-behavior: smooth;
 
}

video {
  width: 100%;
  filter: brightness(.9);
  background-color: aquamarine;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

body {
    width: 100%;
    background-color: #000821;
}

::-webkit-scrollbar{
    display: none;
}
#HTML{
    z-index: 100;
    position: absolute;
    width: 35%;
    height: 25vh;
    top: 40%;
    left: 20%;
    transform: translate(-50%,-50%);
    text-align: center;

 


    &>h1{
    color: transparent;
    font-family: 'Courier New', Courier, monospace;
    background-image: linear-gradient(to top,#951111,#e93535);
    background-clip: text;
}
& > hr{
    margin: 1vh;
    margin-bottom: 2vh;
    width: 100%;
    height: .3vh;
    border-radius: 5vh;
    background-color: white;
}
&> p {
    color: #fff;
    font-size: 3vh;
    text-align: center;
}

}

#Tags{
    background-color: #000821;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 100%;
    color: white;
    box-shadow: 0px 0px 10vh #000821;
    text-align: center;

&> h1{
    // background-color: #0e2e63;
    width: 10%;
    margin: auto;
    border-radius: .2vh;
    color: rgb(235, 229, 229);
    font-family: 'Times New Roman', Times, serif;
    margin-top: 5vh;
}

& > p {
    width: 50%;
    margin: auto;
    margin-top: 2vh;
    font-size: 2.5vh;
}

}
#Content{
    width: 100%;
    height: 70vh;
    width: 60%;
    margin: auto;
    margin-top: 2vh;
    border-radius: .5vh;
    border: 1px solid white;
}

#ContentTags{
    width: 90%;
    height: 90%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.Tag{

    background-color: #191920;
    border-radius: 1vh;
    width: 20%;
    font-size: 3vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    margin-top: 2vh;

}

code{
    background-color: #191920;
    width: 50%;
    height: 20vh;
    margin: auto;
    border-radius: .5vh;
    font-size: 20px;
    display: block;
    text-align: center;
}
// #alert{
//     background-color: #000821bb;
//     position: fixed;
//     top: 20%;
//     left: 50%;
//     width: 30%;
//     height: 30%;
//     border-radius: 1vh;
//     border: 1px solid #d1d8e0;
//     z-index: 1000;
//     transform: translate(-50%,-50%);
//     color: #fff;
//     text-align: center;
//     font-size: 3vh;
     
// } 